body {
  background-color: white;
}
div, input, button {
  color: black;
}
#search input[type=text] {
  background: white;
}
#search input[type=submit] {
  background: lightgrey;
}
#wiki-statistics div{
	background: lightgrey;
}