#app {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 10vw 0 10vw;
}
#app div {
	margin-top: 10px;
}
p {
	margin: 0 0 20px 0;
}
h5 {
	margin: 0 0 5px 0;
}
#search-header {
	display: flex;
}
button {
	margin: 0 10px 0 10px;
}

input, button {
	font-size: 18px;
	border: 1px solid grey;
	border-radius: 8px;
}
#search-form__input {
	width: 300px;
}
table {
	margin-top: 5px;
	font-size: 18px;
	border: 1px solid grey;
	border-radius: 5px;
	border-collapse: collapse;
}
td, th {
	border: 1px solid grey;
	padding: 3px;
}
#wiki-statistics {
	border: 1px solid grey;
	margin-top: 20px;
	padding-top: 20px;
	display: none;
	align-items: flex-end;
}
#wiki-statistics div{
	margin: 0 5px 0 5px;
	background: lightgrey;
	vertical-align: middle;
}
#wiki-queries {
	display: none;
}